@model finder_ui.Models.EditProfileViewModel

<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <div class="text-center">
                <h1>Uppdatera profil information</h1>
            </div>
            <hr />
            @using (Html.BeginForm("EditProfile", "UserProfile", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.HiddenFor(vm => vm.UserId)
                    @Html.HiddenFor(vm => vm.PersonalCodeNumber)
                </div>
                <div class="form-group">
                    <label for="userCity">Stad</label>
                    @Html.TextBoxFor(vm => vm.UserCity, new { @class = "form-control text-center" })

                </div>
                <div class="form-group">
                    <label for="userAddress">Adress</label>
                    @Html.TextBoxFor(vm => vm.UserAddress, new { @class = "form-control text-center", @placeholder = "Adress" })

                </div>
                <div class="form-group">
                    <label for="userZipCode">Postnummer</label>
                    @Html.TextBoxFor(vm => vm.UserZipCode, new { @class = "form-control text-center", @placeholder = "Postnummer" })
                    @Html.ValidationMessageFor(vm => vm.UserZipCode)
                </div>
                <div class="form-group">
                    <label for="userPhoneNumber">Telefonnummer</label>
                    @Html.TextBoxFor(vm => vm.UserPhoneNumber, new { @class = "form-control text-center", @placeholder = "Telefonnummer" })
                    @Html.ValidationMessageFor(vm => vm.UserPhoneNumber)

                </div>
                <div class="form-group">
                    <label for="userProfilePicture">Profilbild</label>
                    @Html.TextBoxFor(vm => vm.UserProfilePicture, new { @class = "form-control text-center", @placeholder = "Profilbild", @type = "file" })

                </div>

                <button type="submit" class="btn btn-primary">Spara</button>
            }
        </div>
    </div>
</div>