@model finder_ui.Models.UpdateProfileViewModel

@{
    ViewBag.Title = "Index";
}


<h2>Min Profil</h2>

<button class="button" onclick="location.href='@Url.Action("EditProfile", "UserProfile")';return false;">Redigera Profil</button>

<table class="table">
    <tr>
        @Html.HiddenFor(vm => vm.personalnumber)
        <th>Användarnamn</th>
        <td>@Html.DisplayFor(m => Model.username)</td>
    <tr>
    <tr>
        <th>Förnamn</th>
        <td>@Html.DisplayFor(m => Model.firstname)</td>
    </tr>
    <tr>
        <th>Efternamn</th>
        <td>@Html.DisplayFor(m => Model.surname)</td>
    </tr>
    <tr>
        <th>Personnummer</th>
        <td>@Html.DisplayFor(m => Model.personalnumber)</td>
    </tr>
    <tr>
        <th>Adress</th>
        <td>@Html.DisplayFor(m => Model.userAddress)</td>
    </tr>
    <tr>
        <th>Stad</th>
        <td>@Html.DisplayFor(m => Model.userCity)</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Html.DisplayFor(m => Model.email)</td>
    </tr>
    <tr>
        <th>Bild</th>
        <td>@Html.DisplayFor(m => Model.userProfilePicture)</td>
    </tr>
</table>

<button class="button" onclick="location.href='@Url.Action("Index", "UserProfile")';return false;">Mina Annonser</button>