<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include jQuery-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script>
        const submitSearch = () => {
            const form = document.getElementById('searchForm');
            console.log(form);
            if (form) {
                form.submit();
            }
        }
    </script>

    <!-- Note: The "Styles.Render" commands calls the files included in that particular bundle,
        which is declared inside the BundleConfig class in the App_Start folder. -->
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")

    <link rel="SHORTCUT ICON" href="~/Content/Images/findericon.png">
    <title>@ViewBag.Title - Finder</title>
</head>

<body>
    @*
        Navbar partial view:
        - View is located in NavbarPartial.cshtml
        - Viewmodel for NavbarPartial is located in NavbarPartialViewModel.cs
        - Actionmethod for populating NavbarPartialViewModel is located in AccountController.NavbarPartial
    *@
    <div class="container-fluid">
        @{Html.RenderAction("NavbarPartial", "Navbar");}
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <div class="footer">
        <img class="logo1" src="~/Content/Images/logo_360_black.png" height="50">
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
