@model finder_ui.MessageServiceReference.AddMessage
@{
    IEnumerable<finder_ui.MessageServiceReference.Messageinfo> Lista = ViewBag.Lista;
}

@{
    finder_ui.UserProfileServiceReference.User namnInloggadUser = ViewBag.namnInloggadUser;
}
@{
    finder_ui.UserProfileServiceReference.User namnServiceOwner = ViewBag.namnServiceOwner;
}
@{
    finder_ui.Group3ServiceReference.Service knapp = ViewBag.skapaKontrakt; //skapa kontrakt
}

<div class="activemessagebanner">
    <h3 style="display:inline-block; margin-left:1%;">@ViewBag.ServiceTitle</h3>

</div>
@foreach (var item in Lista)
{
    <div class="card">
        <div class="card-header">
            @{
                var sessionId = Convert.ToInt32(Session["UserId"]);
                var ServiceOwnerId = Convert.ToInt32(Session["ServiceOwner"]);
                if (sessionId == item.RecievingUserId)
                {
                    <p class="review-card-title">Till: @Html.DisplayFor(Model => namnInloggadUser.Username)</p>
                    <p class="review-card-title">Från: @Html.DisplayFor(Model => namnServiceOwner.Username)</p>
                }
                else
                {
                    <p class="review-card-title">Till: @Html.DisplayFor(Model => namnServiceOwner.Username)</p>
                    <p class="review-card-title">Från: @Html.DisplayFor(Model => namnInloggadUser.Username)</p>
                }
            }

        </div>
        <div class="card-body">
            @Html.DisplayFor(m => item.Message)<br />


        </div>

    </div>
    <br />
    <br />
}


    <div class="card-header">

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => Model.ServiceId)
            
            @Html.TextAreaFor(model => model.Message, new { rows="5", cols="90", @placeholder ="Skriv meddelande"})<br />

            <span>
                <input type="submit" value="Skicka meddelande" class="button" style="border-radius:12px" />
                @{


                    var sessId = Convert.ToInt32(Session["UserId"]);
                    var serviceid = Convert.ToInt32(ViewBag.serviceId);
                    var serviceOwner = Convert.ToInt32(ViewBag.serviceOwner);


                    <button class="button" type="submit" style="float:right; color:white; background-color:limegreen; border-radius:12px;" >@Html.ActionLink("Föreslå Kontrakt", "Kontrakt", "Message", new { serviceId = serviceid, counterpartId = sessId, serviceOwnerId = serviceOwner, contractCreatorId = sessId}, new {@class = "button" })</button>


                }
            </span>
        }

        
    </div>

